.c-feed {
  height: auto;
  margin: 20px;
}

.username-wrapper {
  margin-bottom: 20px;
}

.feed-desc-wrapper {
  margin-bottom: 20px;
}

.toggler-wrapper {
  margin-top: 20px;
}

.comments {
  margin-top: 20px;
}

.date {
  color: rgba($color: #000000, $alpha: .4);
  font-size: 12px;
  margin-top: 20px;
}

.no-issues {
  font-size: 12px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
