
.c-feedbackBox {
  border: 1px solid rgba($color: #1B1F23, $alpha: .15);
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
}

.feedbackBox__block {
  border-right: 1px solid rgba($color: #1B1F23, $alpha: .15);
  padding: 5px 12px;

  &:last-child {
    border-right: none;
  }

  &--btn {
    background-color: #FAFBFC;
    display: flex;
    align-items: center;
    font-weight: normal;

    .block__icon {
      margin-right: 5px;
    }
  }

  &--btn:hover {
    cursor: pointer;
  }
}

.block__icon svg{
  color: #586069;
}

.block__icon--star svg{
  width: 15px;
  height: 15px;
}

.block__icon--fork svg{
  width: 12px;
  height: 14px;
}
