.c-headline {
  background-color: #FAFAFA;
  border-bottom: 1px solid #C6C6C8;
  padding: 42px 0px 32px;
} 

.topline {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 37px;
}