.header {
  padding: 5px 30px;
}

.image {
  display: flex;
  justify-content: center;
  img {
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.text {
  width: 90%;
  word-wrap: break-word;
  white-space: normal;
  font-size: 14px;

  h1 {
    margin-bottom: 20px;
  }

}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: auto 20px;
  opacity: 0.5;
  width: 300px;
  height: 550px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.modal-container-active {
  opacity: 1;
  width: 376px;
  height: 667px;
}

.active {
  width: 300px;
  height: 533px;
}

.modal-header {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #42b983;
}

.body--modal {
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  padding: 5px 30px;
  height: 500px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #404040;
  overflow-y: auto;
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.btn {
  position: relative;
  bottom: 50%;
  z-index: 100;

  &-prev {
    left: -70px;
  }

  &-next {
    right: -70px;
    transform: rotate(0.5turn);
  }

  &:hover {
    color: #31AE54;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  color: var(--grey);
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);

  svg {
    width: 18px;
    height: 17px;
  }
}

.modal-footer-button {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
